
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=VT323&display=swap');

/* fonts */
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

.orbitron{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  
/* For large screen */
@media screen and (min-width: 1024px){
    .calcBtn{
        width: 100%;
        height: auto;
        font-size: 1.8em ;
    }
}

/* For MEdium screen */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px){

        .calcBtn{
            width: 100%;
            height: auto;
            font-size: 1.8em;
        }

        .numSystem{
            font-size: 1em;
        }
    }

    /* For small screen */
    @media screen
    and (max-device-width: 640px){
        .calcBtn{
            width: 100%;
        }
        .box{
            margin-top: 1em;
        }

        .results{
            height: 7em;
        }

        .logo{
            font-size: 1em;
        }

        .heading{
            font-size: 0.8em;

        }
    }

    /* Global */    
    .results{
     height: 10em;
     width: 100%;
     text-align: center;
    }

    .custom-input{
     height: 4em;
     text-align: right;
     font-size: 1.5em;
    }

    .column{
     background-color: lightslategray;
     padding: 0;
    }

    .rows{
     padding: 0.9em;
    }

    .expression{
     background-color: orange;
     color: black;
    }
   

   /* Footer */
   footer{
    text-align: center;
   } 

   footer a{
    text-decoration: none;
    color: black;
   }

    /* Gradients */
   .gradient-background {
     background: linear-gradient(240deg,#e7da21,#7c3ef1,#357b1b,#9723bb);
     background-size: 240% 240%;
     animation: gradient-animation 16s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }