
/* For large screen */
@media screen and (min-width: 1024px){
    .custom-container{
        width: 50%;
    }
}

/* For MEdium screen */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px){
        .custom-container{
            width: 60%;
        }

        .calcBtn{
            width: 100%;
            height: auto;
            font-size: 1.8em;
        }
    }

    /* For small screen */
    @media screen
    and (max-device-width: 640px){
        .custom-container{
            width: 80%;
        }

        .calcBtn{
            width: 100%;
        }
    }

    /* Global style */
    .custom-input{
        height: 4em;
        text-align: right;
        font-size: 1.5em;
    }

    .column{
        background-color: lightslategray;
        padding: 0;
    }

   .rows{
    padding: 0.9em;
   }

   .expression{
    background-color: orange;
    color: black;
   }